.App {
  text-align: center;
  font-family: "arial", sans-serif;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  background-color: #50a3a2;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0a192f;
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 130%;
}

header {
  background-color: #0a192f;
  margin: -auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.container {
  margin: 10% auto;
  padding: 80px 0;
  text-align: center;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.container h1 {
  font-size: 100px;
}

.form input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #0a192f;
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: #fff;
  width: 70%;
  margin-bottom: 20px;
}

button {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #0a192f;
}
button span {
  background: rgb(100, 255, 218);
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #0a192f;
}

li {
  text-align: left;
  position: relative;
  padding: 0.5rem;
}