.App {
  text-align: center;
  font-family: "arial", sans-serif;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  background: #50a3a2;
  width: 100%;
  height: 100%;
}

header {
  background-color: #0a192f;
  margin: -auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.container {
  margin: 10% auto;
  padding: 80px 0;
  text-align: center;
}

.container h1 {
  font-size: 100px;
}

button {
  background-color: #0a192f;
  border: 0;
  border-radius: 10px;
  box-shadow: 5px;
  margin: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}
